*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00BFFF;
    border-radius: 10px;
    padding: 3rem;
    color: white;
}


.column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem;
    padding-top: 3rem;

}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}